/*.output_area {
    text-align:center;
    width:100%;
}
*/
.output_subarea {
    flex:none;
}


body {
	padding:0px;
}

div.prompt {display:none}
div.cell {width:75%}

div#notebook {font-size: none,
			  line-height: none;	}