---
layout: default
title: Home
---

<header
  class="clean"
  style="height: 350px; background-image: url({{ site.cover }}); {% if site.parallax != true %}background-attachment: scroll;{% endif %}"
  data-stellar-background-ratio="0.5"
  data-stellar-horizontal-offset="50"
>
  {% include top.html %}
  <a href="{{ site.url }}{{ site.baseurl }}">
    <div
      id="home-title"
      class="site-icon-home"
      style="background-image: url({{ site.icon }});"
      data-stellar-ratio="0.5"
    ></div>
  </a>
</header>
<div id="middle">
  <div id="mysecret">
    <h1><a href="/about/">Bio</a></h1>
  </div>
  <div id="mysecret">
    <h1><a href="https://ansatze.bandcamp.com/music">Bandcamp</a></h1>

    <iframe
      style="border: 0; width: 100%; height: 120px"
      src="https://bandcamp.com/EmbeddedPlayer/track=3443413791/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
      seamless
      ><a href="https://ansatze.bandcamp.com/track/batidos-de-cucumelodia"
        >Batidos de Cucumelodia by Pablo Riera</a
      ></iframe
    >
    <div id="myarticle">
      <p>Armónicos y melodía - Supercollider + Tidal Cycles</p>
    </div>

    <iframe
      style="border: 0; width: 100%; height: 120px"
      src="https://bandcamp.com/EmbeddedPlayer/album=3003130158/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
      seamless
      ><a href="https://ansatze.bandcamp.com/album/autocorrembient"
        >Autocorrembient by Pablo Riera</a
      ></iframe
    >
    <div id="myarticle">
      <p>Autocorrelación</p>
    </div>
  </div>

  <div id="mysecret">
    <div>
      <h1>
        <a href="https://vimeo.com/250628033"
          >Generación Artificial Brain's Cut (link)</a
        >
      </h1>
      <img src="/assets/images/flyers/brainscut.png" alt="" width="100%" />

      <div id="myarticle">
        <p>
          Performance audiovisual controlada por Electroencefalografía en tiempo
          real junto Mathias Gatti, Hernán Kerlleñevich, Javier Plano, Mateo
          Amaral y Federico Pintos Mercado de Industrias Culturales - Centro
          Cultural de la Ciencia - Buenos Aires - 7/10/17
        </p>
      </div>
    </div>
  </div>

  <div id="mysecret">
    <div>
      <h1>
        <a
          href="https://www.youtube.com/watch?v=9ZZNFfTQFX4
		"
        >
          Música Artificial, programa en radio caso - 27/10/21
        </a>
      </h1>
      <a href="https://www.youtube.com/watch?v=9ZZNFfTQFX4">
        <img src="/assets/images/flyers/flyer.png" alt="" width="100%" />
      </a>

      <div id="myarticle">
        <a href="https://www.youtube.com/watch?v=9ZZNFfTQFX4">
          https://www.youtube.com/watch?v=9ZZNFfTQFX4
        </a>
        <p>
          ¿Puede un algoritmo crear canciones? ¿Dónde empieza y termina el acto
          de crear cuando se utilizan algoritmos de inteligencia artificial?
          Estas preguntas son difíciles de responder, pero mientras tanto
          podemos escuchar los resultados de las últimas tecnologías creadas por
          Sony, Google y OpenAI. Existe un concurso para canciones hechas con
          tecnologías de inteligencia artificial donde los participantes crean
          piezas que utilizan algunas de las herramientas de esta disciplina con
          diferente grado de participación humano/máquina. Nos proponemos
          escuchar estas piezas, entre otras, e interiorizarnos en las
          herramientas utilizadas para su creación.
        </p>
      </div>
    </div>
  </div>

  <div id="mysecret">
    <h1>Ode's ode</h1>
    <a href="https://www.youtube.com/watch?v=9wXA0mgHzgI"
      ><img src="/assets/images/flyers/ode.png" alt="" width="100%"
    /></a>
    <div id="myarticle">
      <a href="https://www.youtube.com/watch?v=9wXA0mgHzgI">
        https://www.youtube.com/watch?v=9wXA0mgHzgI
      </a>
      <p>
        Performance de live coding con ecuaciones diferenciales ordinarias
        Instituto de Matemática Pura y Aplicada - Rio de Janeiro - 4/2/19
      </p>
    </div>

    Performance de live coding audiovisual junto a Damian Silvani - Discrete -
    Espacio Cultural Mi Casa - Buenos Aires - 9/9/18
  </div>

  <div id="mysecret">
    <h1>Shader Fractal + Piano Roll</h1>
    <img src="/assets/images/flyers/discrete.png" alt="" width="100%" />
    <div>
      <video width="100%" controls>
        <source
          src="https://www.dropbox.com/s/cp93hf8l4n7edka/shadershort2.mp4?dl=1"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    Performance de live coding audiovisual junto a Damian Silvani - Discrete -
    Espacio Cultural Mi Casa - Buenos Aires - 9/9/18
  </div>

  <div id="mysecret">
    <div>
      <h1>
        Musicalización en vivo de cine mudo científico con redes neuronales
      </h1>
      <img src="/assets/images/flyers/cinecien.jpg" alt="" width="100%" />

      <div id="myarticle">
        <p>Cinecien - Centro Cultural de la Ciencia - Buenos Aires - 1/12/17</p>

        Jam con la misma configuración
        <iframe
          style="border: 0; width: 100%; height: 120px"
          src="https://bandcamp.com/EmbeddedPlayer/track=1209352591/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
          seamless
          ><a href="https://ansatze.bandcamp.com/track/magenta-jam"
            >Magenta Jam by Pablo Riera</a
          ></iframe
        >
      </div>
    </div>
  </div>

  <div id="post-list">
    <h1>Posts</h1>

    {% for post in paginator.posts %}
    <div>
      <span class="post-date">{{ post.date | date_to_long_string }}</span>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <p class="post-description">
        {% if post.quote %}{{ post.quote }}{% else %}{{ post.content |
        strip_html | truncatewords: 50 }}{% endif %}
      </p>
    </div>
    <br />
    {% endfor %}
  </div>
  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
    <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}"
      >&larr; Older posts</a
    >
    {% endif %}
    <span class="page-number"
      >Page {{ paginator.page }} of {{ paginator.total_pages }}</span
    >
    {% if paginator.previous_page %} {% if paginator.page == 2 %}
    <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
    {% else %}
    <a
      class="older-posts"
      href="{{ site.baseurl }}/page{{paginator.previous_page}}"
      >Newer posts &rarr;</a
    >
    {% endif %} {% endif %}
  </nav>
</div>
<footer
  class="clean"
  style="background-image: url({{ site.cover }}); background-position: bottom; bottom: 0; z-index: 4; position: absolute; height: 60px; {% if site.parallax != true %}background-attachment: scroll;{% endif %}"
>
  <p class="copyright">
    &copy;{{ site.time | date: "%Y" }},
    <a href="{{ site.copyright.url }}" target="_blank"
      >{{ site.copyright.author }}</a
    >.
    <a href="{{ site.copyright.type_url }}" target="_blank"
      >{{ site.copyright.type_title }}</a
    >.
  </p>
</footer>
